[submodule "projects/website"]
	path = projects/website
	url = https://github.com/lucasbclarke/website.git
[submodule "projects/zig/game-project"]
	path = projects/zig/game-project
	url = https://github.com/lucasbclarke/game-project.git
[submodule "projects/megacorp"]
	path = projects/megacorp
	url = https://github.com/lucasbclarke/megacorp.git
	branch = main
[submodule "projects/webflyx"]
	path = projects/webflyx
	url = https://github.com/lucasbclarke/webflyx.git
[submodule "projects/webflyx-local"]
	path = projects/webflyx-local
	url = https://github.com/lucasbclarke/webflyx.git
