[submodule "projects/megacorp"]
	path = projects/megacorp
	url = https://github.com/lucasbclarke/megacorp
[submodule "projects/webflyx"]
	path = projects/webflyx
	url = https://github.com/lucasbclarke/webflyx
[submodule "projects/zig/game-project"]
	path = projects/zig/game-project
	url = https://github.com/lucasbclarke/game-project
[submodule "projects/website"]
	path = projects/website
	url = https://github.com/lucasbclarke/website
[submodule "projects/zig/mindstorm"]
	path = projects/zig/mindstorm
	url = https://github.com/lucasbclarke/mindstorm
